
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


@using (Html.BeginForm("UserLogin","Home",FormMethod.Get))
{
<table cellpadding="0" cellspacing="0">
    <tr>
        <th colspan="2" align="center">Logowanie</th>
    </tr>
    <tr>
        <td>Login: </td>
        <td>
            <input name="login" type="text" value="admin"/>
        </td>
    </tr>
    <tr>
        <td>Hasło: </td>
        <td>
            <input name="password" type="text" value="admin" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Submit" /></td>
    </tr>
</table>

}



<label>@ViewBag.Message</label>
